.location {
    padding-top: 5rem;

    h2 {
        text-align: center;
        width: 40rem;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    img {
        display: block;
        width: 60%;
        height: auto;
        margin: 0 auto;
        box-shadow: 0 0 5px 0px $color-text-primary;
    }
}