.trial-form {
    text-align: center;
    padding: $section-padding;    
    background: #27364B;

    h2 {
        color: #FFF;
        margin-bottom: 2rem;
    }

    .form {
        background: inherit;
    }
}