/* Typography */
html {
    font: 12px / 1.5 Georgia, serif;
}

body, table, input, select {
    font: inherit;
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 900px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    padding-bottom: 0.5em;
    line-height: 1.1;
}

h1 { font-size: 2.2rem; } 
h2 { font-size: 1.8rem; } 
h3 { font-size: 1.6rem; } 
h4 { font-size: 1.4rem; } 
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; } 