.site {
  padding: 2rem; }
  .site-header {
    display: block; }
    .page-contacts .site-header {
      background: blue; }
    @media (max-width: 990px) {
      .site-header {
        display: block; } }
    @media (max-width: 700px) {
      .site-header {
        display: block; } }
  .site-footer {
    display: block;
    font-weight: normal; }
