body {
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 3fr 7fr;
    grid-template-areas: 
    "header header"
    "banner banner"
    "aside main"
    "footer footer";
}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "banner"
        "main"
        "aside"
        "footer";
    }
}

body > * {
    background: #000;
    color: #FFF;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    overflow: auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

.banner {
    grid-area: banner;
}

footer {
    grid-area: footer;
}