<label id="toggle-main-nav-button" for="toggle-main-nav"><span>Menu</span></label>
<nav class="{{ include.location }}-nav">
    <ul>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for navitem in sorted_pages %}
        {% if navitem.url != '/feed.xml' and navitem.url != '/' %}
        <li{% if page.url == navitem.url %} class="current-page"{% endif %}>
            <a href="{{ site.baseurl }}{{ navitem.url }}">
                {{ navitem.title }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% if include.location != 'footer' %}
<section class="cta">
    <a href="tel:+23234234234234" class="button button-primary">Call us</a>
</section>
{% endif %}