$avatarSize: 9rem;

.testimonials {
    padding: 2rem 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        display: block;
        list-style: none outside;
        text-align: center;
    }

    a {
        display: block;
        text-decoration: none;
        color: #333;
    }

    span {
        display: block;

        &.avatar {
            position: relative;
            width: $avatarSize;
            background: #CCC;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0 0 1rem 0.1rem rgba(black, 0.3);

            img {
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:before {
                display: block;
                content: '';
                padding-top: 100%;
            }
        }

        &.name {
            padding: 0.5rem 0;
            margin-top: 0.5rem;
            font-weight: bold;
        }

        &.jobtitle {
            padding: 0.3rem 0 0.7rem;
            font-style: italic;
            opacity: 0.7;
        }
    }
}