.site-header {
    font-size: 1.3rem;
}

.site-header .inner {
    position: absolute;
    top: 0; left: 0; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    .cta {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        padding-top: 4em;

        .button {
            padding: 1.5rem 2.5rem;
        }
    }

    @include bp('tablet') {
        align-items: center;
    }
}
.site-header a {
    text-decoration: none;
}

.site-header .site-title {
    margin-bottom: 0;
}

.site-header .site-title a {
    color: #FFF;
}


.site-header nav {

}

.site-header nav ul {
}


/*
 * Homepage Header Banner
 * Aspect Ratoio Boxes with CSS
 * https://css-tricks.com/aspect-ratio-boxes/
 * 
 */

.site-header.banner {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header.banner:after {
    display: block;
    content: '';
}

.site-header.banner.size-large:after {
    padding-top: calc( ( 9 / 16 ) * 100% ); /* 16x9 Aspect Ratio */
}

.site-header.banner.size-small:after {
    padding-top: calc( ( 9 / 32 ) * 100% ); /* 16x9 Aspect Ratio */
}