@import url('reset.css');
@import url('variables.css');
@import url('layout.css');
@import url('typography.css');

body {
    padding: 2rem;
}

button {
    padding: 0.5rem 1.5rem;
    color: var(--btn-font-color);
    background: var(--alternative-color);
    border: none;
    border-radius: 0.3rem; 
}

button:hover {
    cursor: pointer;
    color:  var(--alternative-color);
    background: var(--primary-color);
}