* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    height: 100vh;
    overflow: hidden;
}

.site {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 4rem solid #FFF;
    background: #EEE;
}

.circle {
    width: 10rem;
    height: 10rem;

    background: red;

    border-radius: 50%;

    animation: anim 1.5s ease-out 0s infinite alternate none;
}

@keyframes anim {
    from {

    }

    to {
        background: orange;
        border-radius: 0;
        width: 20rem;
        height: 20rem;
    }
}